*{
    font-family: Arial;
}
.title-login{
    margin-bottom: 3px;

}
.body-login{
    display: grid;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 350px;
    
    border: 2px;
    border-style: solid;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
}
.User-name-login, .password-login{
    font-size: 14px;
    width: 250px;
    height: 30px;
    padding: 6px;
    margin: 3px;
    border-radius: 4px;
}
.submit-button-login{
    width: 100px;
    height: 30px;
    background-color: lightblue;
    border: 0;
    transition: opacity 0.15s;
    cursor: pointer;
}
.submit-button-login:hover{
    opacity: 0.8;
}