*{
    font-family: Arial;
}
.title-login{
    margin-bottom: 3px;
    font-size: 30px;
}
.body-login{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
}
.container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px;
    width: 500px;
    height: 350px;
    border-radius: 8px;
    box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#username-login, #password-login{
    padding: 10px;
    display: block;
    font-size: 14px;
    width: 300px;
    margin: 3px;
    border-radius: 7px;
    margin-bottom: 20px;
}