* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
 
}
.Container {
    width: 100%;
    height: 100vh;
    background: #853c3c;

    display: flex;
    justify-content: center;
    align-items: center;
    /* scroll-padding-top: 300px; */

    
}
.Container > .register {
    width: 500px;
    min-height: 70vh;

    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* overflow: scroll; */
}
/* if the screen is not full then margin-top is 500px; */

.register h1  {
    margin-bottom: 20px;
    font-size: 30px;
    color: #2E3440;
}
.container > .register > .register-form {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: scroll;
}
input {
    /* margin-bottom: 3px; */
    padding: 10px;
    width: 300px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 7px;
}
label {
    font-size: 20px;
    color: #2E3440;
}
button {
    width: 300px;
    height: 50px;
    
    background: #ccc;
    border: 1px solid #ccc;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background: #2E3440;
    color: #fff;
}
p {
    margin-bottom: 5px;
  }
.sex {
    display: inline-flex;
    align-items: center;
}
textarea  {
    width: 300px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 10px;
  
}
 
