* {
    padding: 0px;
    margin: 0px;
    border: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .register {
    width: 400px;
    height: 500px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label {
    margin-top: 30px;
}